apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  creationTimestamp: "2022-07-31T06:24:12Z"
  generation: 1
  labels:
    app: {{ item.0.image }}-deployment
  name: {{ namespace }}-{{ item.0.image }}-deployment-{{ item.1 }}
  namespace: {{ namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: {{ item.0.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ item.0.image }}-deployment
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ item.0.image }}-deployment
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: size
                operator: In
                values:
                - {{ item.0.label }}
      containers:
      - image: {{ item.0.image }}
        imagePullPolicy: IfNotPresent
        name: {{ item.0.image }}-deployment
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      tolerations:
      - effect: NoSchedule
        key: spray
        operator: Equal
        value: {{ item.0.taint }}